<div data-controller="hello" data-hello-request="<%= current_user.email + "@#{Rails.configuration.app_name}" %>">
  <div id="datepicker"/>
  <%= form_with(model: @date_range) do |form| %>
    <div style='display: none;'>
      <%= form.text_field :start_date, { id: 'startDate' } %>
    </div>

    <div style='display: none;'>
      <%= form.text_field :end_date, { id: 'endDate' } %>
    </div>

    <div style='display: none;'>
      <%= form.text_field :created_by, value:  Rails.configuration.app_name %>
    </div>

    <div>
      <%= form.submit %>
    </div>
  <% end %>
</div>
